// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WrestaurantApi from "../../../index.js";

export declare namespace ImpresorasClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ImpresorasClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ImpresorasClient.Options>;

    constructor(options: ImpresorasClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Devuelve las impresoras del usuario. Filtra por licenseKey para limitar a un solo punto de venta.
     *
     * @param {WrestaurantApi.ListPrintersRequest} request
     * @param {ImpresorasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WrestaurantApi.UnauthorizedError}
     * @throws {@link WrestaurantApi.TooManyRequestsError}
     *
     * @example
     *     await client.impresoras.listPrinters()
     */
    public listPrinters(
        request: WrestaurantApi.ListPrintersRequest = {},
        requestOptions?: ImpresorasClient.RequestOptions,
    ): core.HttpResponsePromise<WrestaurantApi.PrinterDto[]> {
        return core.HttpResponsePromise.fromPromise(this.__listPrinters(request, requestOptions));
    }

    private async __listPrinters(
        request: WrestaurantApi.ListPrintersRequest = {},
        requestOptions?: ImpresorasClient.RequestOptions,
    ): Promise<core.WithRawResponse<WrestaurantApi.PrinterDto[]>> {
        const { licenseKey } = request;
        const _queryParams: Record<string, unknown> = {
            licenseKey,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Api-Key": requestOptions?.apiKey ?? this._options?.apiKey,
                "X-License-Key": requestOptions?.licenseKey ?? this._options?.licenseKey,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WrestaurantApiEnvironment.Default,
                "api/v1/me/printers",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WrestaurantApi.PrinterDto[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new WrestaurantApi.UnauthorizedError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 429:
                    throw new WrestaurantApi.TooManyRequestsError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WrestaurantApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/me/printers");
    }

    /**
     * Registra una nueva impresora en uno de los puntos de venta del usuario.
     *
     * @param {WrestaurantApi.CreatePrinterRequest} request
     * @param {ImpresorasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WrestaurantApi.BadRequestError}
     * @throws {@link WrestaurantApi.UnauthorizedError}
     * @throws {@link WrestaurantApi.NotFoundError}
     * @throws {@link WrestaurantApi.ConflictError}
     * @throws {@link WrestaurantApi.TooManyRequestsError}
     *
     * @example
     *     await client.impresoras.createPrinter({
     *         licenseKey: "DS5D2368HCME4O9X",
     *         printerIp: "192.168.1.50",
     *         displayName: "Cocina",
     *         widthMm: 80,
     *         source: "windows",
     *         sourceId: "POS-01"
     *     })
     */
    public createPrinter(
        request: WrestaurantApi.CreatePrinterRequest,
        requestOptions?: ImpresorasClient.RequestOptions,
    ): core.HttpResponsePromise<WrestaurantApi.PrinterDto> {
        return core.HttpResponsePromise.fromPromise(this.__createPrinter(request, requestOptions));
    }

    private async __createPrinter(
        request: WrestaurantApi.CreatePrinterRequest,
        requestOptions?: ImpresorasClient.RequestOptions,
    ): Promise<core.WithRawResponse<WrestaurantApi.PrinterDto>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Api-Key": requestOptions?.apiKey ?? this._options?.apiKey,
                "X-License-Key": requestOptions?.licenseKey ?? this._options?.licenseKey,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WrestaurantApiEnvironment.Default,
                "api/v1/me/printers",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WrestaurantApi.PrinterDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WrestaurantApi.BadRequestError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 401:
                    throw new WrestaurantApi.UnauthorizedError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 404:
                    throw new WrestaurantApi.NotFoundError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 409:
                    throw new WrestaurantApi.ConflictError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 429:
                    throw new WrestaurantApi.TooManyRequestsError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WrestaurantApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/me/printers");
    }

    /**
     * Devuelve una impresora del usuario por su id.
     *
     * @param {WrestaurantApi.GetPrinterRequest} request
     * @param {ImpresorasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WrestaurantApi.UnauthorizedError}
     * @throws {@link WrestaurantApi.NotFoundError}
     * @throws {@link WrestaurantApi.TooManyRequestsError}
     *
     * @example
     *     await client.impresoras.getPrinter({
     *         id: "id"
     *     })
     */
    public getPrinter(
        request: WrestaurantApi.GetPrinterRequest,
        requestOptions?: ImpresorasClient.RequestOptions,
    ): core.HttpResponsePromise<WrestaurantApi.PrinterDto> {
        return core.HttpResponsePromise.fromPromise(this.__getPrinter(request, requestOptions));
    }

    private async __getPrinter(
        request: WrestaurantApi.GetPrinterRequest,
        requestOptions?: ImpresorasClient.RequestOptions,
    ): Promise<core.WithRawResponse<WrestaurantApi.PrinterDto>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Api-Key": requestOptions?.apiKey ?? this._options?.apiKey,
                "X-License-Key": requestOptions?.licenseKey ?? this._options?.licenseKey,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WrestaurantApiEnvironment.Default,
                `api/v1/me/printers/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WrestaurantApi.PrinterDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new WrestaurantApi.UnauthorizedError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 404:
                    throw new WrestaurantApi.NotFoundError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 429:
                    throw new WrestaurantApi.TooManyRequestsError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WrestaurantApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/me/printers/{id}");
    }

    /**
     * Actualiza la configuración de una impresora existente del usuario.
     *
     * @param {WrestaurantApi.UpdatePrinterRequest} request
     * @param {ImpresorasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WrestaurantApi.BadRequestError}
     * @throws {@link WrestaurantApi.UnauthorizedError}
     * @throws {@link WrestaurantApi.NotFoundError}
     * @throws {@link WrestaurantApi.ConflictError}
     * @throws {@link WrestaurantApi.TooManyRequestsError}
     *
     * @example
     *     await client.impresoras.updatePrinter({
     *         id: "id",
     *         printerIp: "192.168.1.51",
     *         displayName: "Cocina (caliente)",
     *         widthMm: 80,
     *         source: "windows",
     *         sourceId: "POS-01"
     *     })
     */
    public updatePrinter(
        request: WrestaurantApi.UpdatePrinterRequest,
        requestOptions?: ImpresorasClient.RequestOptions,
    ): core.HttpResponsePromise<WrestaurantApi.PrinterDto> {
        return core.HttpResponsePromise.fromPromise(this.__updatePrinter(request, requestOptions));
    }

    private async __updatePrinter(
        request: WrestaurantApi.UpdatePrinterRequest,
        requestOptions?: ImpresorasClient.RequestOptions,
    ): Promise<core.WithRawResponse<WrestaurantApi.PrinterDto>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Api-Key": requestOptions?.apiKey ?? this._options?.apiKey,
                "X-License-Key": requestOptions?.licenseKey ?? this._options?.licenseKey,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WrestaurantApiEnvironment.Default,
                `api/v1/me/printers/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WrestaurantApi.PrinterDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WrestaurantApi.BadRequestError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 401:
                    throw new WrestaurantApi.UnauthorizedError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 404:
                    throw new WrestaurantApi.NotFoundError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 409:
                    throw new WrestaurantApi.ConflictError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 429:
                    throw new WrestaurantApi.TooManyRequestsError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WrestaurantApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/api/v1/me/printers/{id}");
    }

    /**
     * Elimina de forma permanente una impresora del usuario.
     *
     * @param {WrestaurantApi.DeletePrinterRequest} request
     * @param {ImpresorasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WrestaurantApi.UnauthorizedError}
     * @throws {@link WrestaurantApi.NotFoundError}
     * @throws {@link WrestaurantApi.TooManyRequestsError}
     *
     * @example
     *     await client.impresoras.deletePrinter({
     *         id: "id"
     *     })
     */
    public deletePrinter(
        request: WrestaurantApi.DeletePrinterRequest,
        requestOptions?: ImpresorasClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deletePrinter(request, requestOptions));
    }

    private async __deletePrinter(
        request: WrestaurantApi.DeletePrinterRequest,
        requestOptions?: ImpresorasClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Api-Key": requestOptions?.apiKey ?? this._options?.apiKey,
                "X-License-Key": requestOptions?.licenseKey ?? this._options?.licenseKey,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WrestaurantApiEnvironment.Default,
                `api/v1/me/printers/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new WrestaurantApi.UnauthorizedError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 404:
                    throw new WrestaurantApi.NotFoundError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 429:
                    throw new WrestaurantApi.TooManyRequestsError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WrestaurantApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/v1/me/printers/{id}");
    }

    /**
     * Renderiza tickets ESC/POS y los envía a las impresoras de la sucursal. Cada grupo apunta a una impresora por su id (printerId). Marca isReprint=true para reimpresiones.
     *
     * @param {WrestaurantApi.PrintOrderRequest} request
     * @param {ImpresorasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WrestaurantApi.BadRequestError}
     * @throws {@link WrestaurantApi.UnauthorizedError}
     * @throws {@link WrestaurantApi.NotFoundError}
     * @throws {@link WrestaurantApi.TooManyRequestsError}
     *
     * @example
     *     await client.impresoras.printOrder({
     *         licenseKey: "licenseKey",
     *         orderFolio: "169",
     *         isReprint: false,
     *         price: 128.5,
     *         paymentMethod: "CARD",
     *         businessName: "Mi Restaurante",
     *         businessSubtitle: "Sucursal Centro",
     *         groups: [{
     *                 printerId: "00000000-b12a-405f-905d-dbf424c20000",
     *                 jobType: "order",
     *                 title: "COCINA",
     *                 items: [{
     *                         idProduct: "01052",
     *                         name: "Hamburguesa doble carne",
     *                         quantity: 2,
     *                         price: 89,
     *                         modifiers: [{
     *                                 idModifier: "50110",
     *                                 name: "Sin cebolla",
     *                                 price: 0
     *                             }],
     *                         notes: "Sin pepinillos"
     *                     }]
     *             }]
     *     })
     */
    public printOrder(
        request: WrestaurantApi.PrintOrderRequest,
        requestOptions?: ImpresorasClient.RequestOptions,
    ): core.HttpResponsePromise<WrestaurantApi.PrintOrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__printOrder(request, requestOptions));
    }

    private async __printOrder(
        request: WrestaurantApi.PrintOrderRequest,
        requestOptions?: ImpresorasClient.RequestOptions,
    ): Promise<core.WithRawResponse<WrestaurantApi.PrintOrderResponse>> {
        const { licenseKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Api-Key": requestOptions?.apiKey ?? this._options?.apiKey,
                "X-License-Key": requestOptions?.licenseKey ?? this._options?.licenseKey,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WrestaurantApiEnvironment.Default,
                `api/v1/print/${core.url.encodePathParam(licenseKey)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WrestaurantApi.PrintOrderResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WrestaurantApi.BadRequestError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 401:
                    throw new WrestaurantApi.UnauthorizedError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 404:
                    throw new WrestaurantApi.NotFoundError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 429:
                    throw new WrestaurantApi.TooManyRequestsError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WrestaurantApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/print/{licenseKey}");
    }

    /**
     * Devuelve las impresoras configuradas para la sucursal (id, IP, nombre, ancho), para que el kiosko elija el printerId al imprimir.
     *
     * @param {WrestaurantApi.GetPrintersRequest} request
     * @param {ImpresorasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WrestaurantApi.UnauthorizedError}
     * @throws {@link WrestaurantApi.NotFoundError}
     * @throws {@link WrestaurantApi.TooManyRequestsError}
     *
     * @example
     *     await client.impresoras.getPrinters({
     *         licenseKey: "licenseKey"
     *     })
     */
    public getPrinters(
        request: WrestaurantApi.GetPrintersRequest,
        requestOptions?: ImpresorasClient.RequestOptions,
    ): core.HttpResponsePromise<WrestaurantApi.PrinterAssignmentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPrinters(request, requestOptions));
    }

    private async __getPrinters(
        request: WrestaurantApi.GetPrintersRequest,
        requestOptions?: ImpresorasClient.RequestOptions,
    ): Promise<core.WithRawResponse<WrestaurantApi.PrinterAssignmentsResponse>> {
        const { licenseKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Api-Key": requestOptions?.apiKey ?? this._options?.apiKey,
                "X-License-Key": requestOptions?.licenseKey ?? this._options?.licenseKey,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WrestaurantApiEnvironment.Default,
                `api/v1/print/${core.url.encodePathParam(licenseKey)}/printers`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WrestaurantApi.PrinterAssignmentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new WrestaurantApi.UnauthorizedError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 404:
                    throw new WrestaurantApi.NotFoundError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                case 429:
                    throw new WrestaurantApi.TooManyRequestsError(
                        _response.error.body as WrestaurantApi.ProblemDetails,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WrestaurantApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/print/{licenseKey}/printers",
        );
    }
}
